@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Red: hsl(0, 100%, 66%);

  --White: hsl(0, 0%, 100%);
  --Lightgrayishviolet: hsl(270, 3%, 87%);
  --Darkgrayishviolet: hsl(279, 6%, 55%);
  --Verydarkviolet: hsl(278, 68%, 11%);
}

body {
  background-color: var(--White);
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  height: 100dvh;
}

.bg-mobile {
  display: none;
}

.bg-desktop {
  position: absolute;
  z-index: -1;
  left: 0;
}

.bg-desktop > img {
  width: 500px;
  height: 100dvh;
}

.container {
  height: 100dvh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  justify-content: center;
}

.card-wrap {
  grid-area: 2 / 1 / 3 / 2;
  position: absolute;
  left: 120px;
  top: 18vh;
}

.card-front {
  position: absolute;
  bottom: -20px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.338));
}

.card-back {
  position: absolute;
  top: 40px;
  left: 100px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.338));
}

.card-company-logo {
  position: absolute;
  z-index: 1111;
  left: 25px;
  top: 25px;
}

.card-number {
  position: absolute;
  top: 135px;
  left: 25px;
  letter-spacing: 5.5px;
  color: var(--White);
  font-weight: 500;
}

.card-holder-name {
  position: absolute;
  bottom: 35px;
  left: 25px;
  color: var(--White);
  letter-spacing: 2px;
}

.expiry-date {
  position: absolute;
  bottom: 35px;
  right: 25px;
  color: var(--White);
  letter-spacing: 2px;
}

.cvc-number {
  position: absolute;
  z-index: 111;
  color: var(--White);
  top: 110px;
  right: 55px;
  letter-spacing: 2px;
}

.card-detail-form {
  grid-area: 2 / 2 / 3 / 3;
  margin: 0 auto;
  height: max-content;
}

.card-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: max-content;
}

label {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Verydarkviolet);
  font-weight: 600;
  font-size: 0.75em;
  margin-left: 5px;
}

.number-label {
  margin-top: 45px;
}

.card-name-num-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

#cardholdername,
#cardnumber {
  width: 400px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid var(--Lightgrayishviolet);
  padding: 14px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}

input::placeholder {
  font-weight: 500;
  color: var(--Lightgrayishviolet);
}

.wrap {
  margin-top: 35px;
  display: flex;
  align-items: center;
}

.exp-date {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exp-input {
  position: relative;
}

#exp-month,
#exp-year {
  margin-right: 6px;
  width: 95px;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid var(--Lightgrayishviolet);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.cvc-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-left: 20px;
}

#cvcnumber {
  width: 175px;
  padding: 14px;
  border: 1px solid var(--Lightgrayishviolet);
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cardholdername:focus,
#cardnumber:focus,
#exp-month:focus,
#exp-year:focus,
#cvcnumber:focus {
  border: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    hsla(249, 99%, 64%, 1),
    hsla(278, 93%, 30%, 1)
  );
  border-image-slice: 1;
  border-radius: 10px;
  outline: none;
}

.submit-btn {
  align-self: center;
  margin-top: 45px;
  width: 100%;
  padding: 18px;
  letter-spacing: 1px;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  background-color: var(--Verydarkviolet);
  color: var(--White);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.163);
}

.error {
  position: absolute;
  font-size: 0.8em;
  color: var(--Red);
  display: none;
  font-weight: 500;
}

.name-error {
  top: 78px;
  left: 5px;
}

.card-number-error {
  top: 120px;
  left: 5px;
}

.exp-month-error {
  top: 50px;
  left: 5px;
}

.exp-year-error {
  left: 110px;
}

.cvc-error {
  top: 75px;
  left: 5px;
}

.show-error {
  display: block;
}

.thank-you-wrap {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  grid-area: 2 / 2 / 3 / 3;
}

.thank-you-wrap > img {
  width: 80px;
}

.thank-you-wrap > h2 {
  margin-top: 15px;
  font-size: 1.8em;
  text-transform: uppercase;
  color: var(--Verydarkviolet);
  letter-spacing: 4px;
  font-weight: 500;
}

.success-msg {
  color: var(--Darkgrayishviolet);
  font-size: 1.1em;
}

.continue-btn {
  width: 375px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--Verydarkviolet);
  color: var(--White);
  font-size: 1em;
  letter-spacing: 1px;
  cursor: pointer;
}

.show-success {
  display: flex;
}

.hide-form {
  display: none;
}

@media screen and (max-width: 2600px) and (min-width: 2000px) {
  .bg-desktop > img {
    width: 750px;
  }

  .card-wrap {
    left: 15vw;
    transform: scale(1.3);
    top: 15vh;
  }

  .card-detail-form {
    transform: scale(1.35);
  }
}

@media screen and (max-width: 1440px) {
  .bg-desktop > img {
    width: 450px;
    height: 100dvh;
  }

  .card-wrap {
    top: 21vh;
  }
}

@media screen and (max-width: 1250px) {
  .bg-desktop > img {
    width: 450px;
    height: 100dvh;
  }

  .card-wrap {
    transform: scale(0.87);
    top: 21vh;
  }

  .card-detail-form {
    transform: scale(0.88);
  }

  .thank-you-wrap > h2 {
    font-size: 1.5em;
  }

  .continue-btn {
    width: 300px;
  }
}

@media screen and (max-width: 1190px) {
  body {
    height: 100vh;
  }
  .bg-desktop {
    display: none;
  }

  .bg-mobile > img {
    width: 100vw;
    height: 300px;
  }

  .bg-mobile {
    display: block;
  }

  .container {
    height: 100%;
    display: block;
  }

  .card-wrap {
    margin: 0 auto;
    grid-area: 1 / 1 / 2 / 3;
    left: 50%;
    top: 0vh;
    transform: translate(-50%) scale(0.87);
  }

  .card-front {
    position: relative;
    bottom: 0px;
    top: -160px;
    z-index: 111;
  }

  .card-back {
    top: -300px;
  }

  .card-detail-form {
    grid-area: 1 / 1 / 4 / 3;
    position: relative;
    top: 13vh;
    margin: 0 auto;
    width: max-content;
    transform: scale(0.92);
  }
  .thank-you-wrap {
    position: relative;
    top: 15vh;
  }
  .continue-btn {
    width: 375px;
  }
}

@media screen and (max-width: 850px) {
  .card-wrap {
    left: 35%;
    transform: translate(-40%) scale(0.87);
  }

  .card-detail-form {
    transform: scale(0.95);
  }

  .error {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 520px) {
  .bg-mobile > img {
    height: 250px;
  }

  .card-wrap {
    left: -5px;
    transform: translate(0%) scale(0.8);
  }
}

@media screen and (max-width: 428px) {
  .card-wrap {
    left: -45px;
    top: -45px;
    transform: translate(0%) scale(0.7);
  }

  #cardholdername,
  #cardnumber {
    width: 100%;
  }

  #exp-month,
  #exp-year {
    width: 90px;
  }
  .cvc-wrap {
    margin-left: 10px;
  }
}

@media screen and (max-width: 390px) {
  .card-wrap {
    left: -68px;
    top: -45px;
    transform: translate(0%) scale(0.63);
  }

  #cardholdername,
  #cardnumber {
    width: 100%;
  }

  .submit-btn {
    width: 100%;
  }

  #exp-month,
  #exp-year {
    width: 70px;
  }

  label {
    font-size: 0.65em;
  }
  .continue-btn {
    width: 90%;
  }
}
